body {
  font-size: 1.5em;
  overflow-x: hidden; /* doesn't work on smartphones in the html/body tag, needs a wrapper*/
}
.content img {
  width: 100vw;
  height: auto;
  float: left;
}

.container {
  width: 100vw;
  height: auto;
  float: left;
}

