/*
- responsive text is too big on thumbnails
- need a hovering alternative for smartphones
*/
body {
  font-size: 1.5em;
  overflow-x: hidden; /* doesn't work on smartphones in the html/body tag, needs a wrapper*/
}
.content img {
  width: 100vw;
  height: auto;
  float: left;
}

.container {
  width: 100vw;
  height: auto;
  float: left;
}

.about_text {
  margin-top: -10%;
  margin-left: 5%;
  margin-right: 5%;
  max-width: 90%;
  letter-spacing: 0px;
}
.about_me_links {
  position: relative;
  line-height: 190%;
  margin-top: 2%;
  margin-left: 5%;
  font-size: 0.8em;
}

.content_work {
  width: 100vw;
}